[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nton"
version = "0.1.0"
description = "Nintendo Switch NRO to NSP Forwarder."
authors = ["rlaphoenix <rlaphoenix@pm.me>"]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/rlaphoenix/nton"
keywords = ["nintendo", "switch", "homebrew", "forwarder"]
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: End Users/Desktop",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Games/Entertainment",
    "Topic :: Utilities"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/rlaphoenix/nton/issues"
"Forums" = "https://github.com/rlaphoenix/nton/discussions"
"Changelog" = "https://github.com/rlaphoenix/nton/blob/master/CHANGELOG.md"

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
click = "^8.1.3"
appdirs = "^1.4.4"

[tool.poetry.scripts]
nton = "nton.main:main"
